TASK_GATEWAY__RUN_MODE=development

TASK_GATEWAY__LOGGER__LEVEL=debug
TASK_GATEWAY__LOGGER__USE_LOKI=false
TASK_GATEWAY__LOGGER__ADDRESS=http://0.0.0.0:3110

TASK_GATEWAY__SERVER__ADDRESS=0.0.0.0:10010

TASK_GATEWAY__BROKER__ADDRESS="amqp://localhost:5672"

TASK_GATEWAY__STATE_MANAGER__ADDRESS="http://localhost:10001"
TASK_GATEWAY__STATE_MANAGER__CREATE_TASK_ENDPOINT="/api/v2/storage/task"
TASK_GATEWAY__STATE_MANAGER__UPDATE_PROGRESS_ENDPOINT="/api/v1/storage/update_progress"
