TASK_GATEWAY__SERVER__USER_ID_HEADER=x-user-id
TASK_GATEWAY__STATE_MANAGER__ADDRESS=http://localhost:10001
TASK_GATEWAY__STATE_MANAGER__CREATE_TASK_ENDPOINT=/api/v2/storage/task
TASK_GATEWAY__STATE_MANAGER__UPDATE_PROGRESS_ENDPOINT=/api/v1/storage/update_progress
